@tailwind base;
@tailwind components;
@tailwind utilities;

.negative-position{
    left: -20px;
    bottom: -150px;
}

.bg-paper-effect{
    position: relative;
    top: -75px;
    z-index: -1;
}

.negative-drink{
    right: -20px;
    bottom: -30px;
}

.bg-effect-text{
    position: relative;
    top: -90px;
}

.negative-drink-2{
    right: -50px;
    bottom: -50px;
}