@tailwind base;
@tailwind components;
@tailwind utilities;

.negative-position{
    left: -20px;
    bottom: -150px;
}

.negative-drink{
    right: -20px;
    bottom: -30px;
}

.negative-drink-2{
    right: 0px;
    bottom: -50px;
}

.negative-sope{
    bottom: -120px;
    left: 0;
}

.negative-pulpe{
    bottom: -100px;
}

.negative-carrots{
    bottom: -50px;
}

.negativer-footer{
    top: -200px;
}